yt-dlp
streamlit
requests
psutil
numpy
onnxruntime
google-api-python-client
google-auth-oauthlib
google-auth-httplib2
Pillow
opencv-python
scipy
torch
torchvision
transformers
safetensors
fastapi
pydantic
uvicorn
python-multipart
